body {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0px;
}

header {
  grid-area: header;
  background-color: #7030A0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  grid-area: main;
  padding-top: 100px;
  padding-bottom: 20px;
  color: #202020;
  text-align: center;
}

footer {
  grid-area: footer;
  background-color: #FFFFFF;
  color: #999999;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 8px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#siteName {
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  margin: 8px;
}

#menu {
  float: center;
  text-align: center;
}

#menu li {
  display: inline;
  padding: 8px;
  background-color: #7030A0;
}

#menu li a {
  color: white !important;
  text-decoration: none;
}

#menu li.active {
  background-color: darkslateblue;
}

h1 {
  color: #7030A0;
  font-family: "Amasis MT Pro Black";
}

h2 {
  color: #C00000;
}

h1 a, h2 a {
  color: #C00000 !important;
}

h3 {
  color: #0070C0;
  font-weight: bold;
}

hr {
  border-color: #0070C0;
}

/* RECIPES */

#recipes li {
  display: flex;
  justify-content: flex-start;
}

#recipes img {
  height: 200px;
  padding: 2px;
}

#recipes li div {
  padding-left: 8px;
  margin-right: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid;
  border-color: #C00000;
  height: 200px;
}

#recipes li h3 a {
  color: #C00000 !important;
  text-decoration: none;
}


/* RECIPE DETAIL */

#recipe_detail {
  display: flex;
  justify-content: flex-start;
}

#recipe_detail img {
  height: 400px;
  padding: 8px;
}

#recipe_detail div {
  text-align: left;
  vertical-align: top;
  margin-right: 20px;
}

#recipe_detail .imgs li {
  display: inline;
}

#recipe_detail .imgs li img {
  width: 100px;
  height: 100px;
}

